<template>
  <Page>
    <ActionBar title="NotificadorINFOLOG" class="action-bar"/>
    <Gradient direction="to right" colors="#39B994, #337FC7">
      <FlexboxLayout flexDirection="column" justifyContent="center" class="full-height">
    <Button text="XUXU" @tap="xuxu" class="my-button" /> 
      </FlexboxLayout>
    </Gradient>
  </Page>
</template>
<script>
import LoginScreen from './Loginscreen'
import * as firebase from 'nativescript-plugin-firebase'

export default {
    data() {
      return {
        CodigoInput: '',
        ClientInput: '',
        passwordInput: '',
      }
    },
    methods: {
      getidtoken () {
        firebase.getCurrentPushToken().then((token) => {
           this.consolearea  = token
        });
      },
      xuxu() {
          this.$navigateTo(LoginScreen)
        }      
      },
    created() {
    firebase.init({
      showNotifications: true,
      showNotificationsWhenInForeground: true,

      onPushTokenReceivedCallback: (token) => {
        console.log('[Firebase] onPushTokenReceivedCallback:', { token });
        this.consolearea = token
      },

      onMessageReceivedCallback: (message) => {
        console.log('[Firebase] onMessageReceivedCallback:', {message});
      }
    })
      .then(() => {
        console.log('[Firebase] Initialized');
      })
      .catch(error => {
        console.log('[Firebase] Initialize', { error });
      });
  },
}
</script>