<template>
<Page>
    <ActionBar title="Login" class="action-bar"/>
      <Gradient direction="to right" colors="#39B994, #337FC7">
       <FlexboxLayout flexDirection="column" justifyContent="center" class="full-height">

    <StackLayout class="container">

            <FLexboxLayout alignItems="center" class="border-bottom">
              
              <Label textWrap="true" :text="nome" class="logou" />
                <Image :src="foto" />

               <TextField v-if='!nome' v-model="CodigoInput" hint="Codigo Empresa" class="form-input" pattern="[0-9]"/>
            </FLexboxLayout>

            <FLexboxLayout alignItems="center" class="border-bottom">
              
              <Image src="" width="16" height="16"/>

              <TextField v-if='!nome' v-model="ClientInput" hint="Matricula" class="form-input" />
            </FLexboxLayout>

            <FLexboxLayout alignItems="center" class="border-bottom">
             
              <Image src="" width="16" height="16" stretch="none"/>

              <TextField v-if='!nome' v-model="passwordInput" hint="Senha" secure="true" 
              class="form-input" />
            </FLexboxLayout>

            <Button v-if='!nome' text="Entrar" @tap="login" class="my-button" /> 
      </StackLayout>
      </FlexboxLayout>  
        
      </Gradient>

</Page>
</template>

<script>
import * as http from "http"
import * as  base64 from "base-64"

export default {
    data () {
      return {
        url: 'https://apiplug.sger.com.br/v1/aol',
        CodigoInput: '0069',
        ClientInput: '00778/08',
        passwordInput: 'junior11',
        bemvindo: 'Logue para receber notificações!',
        nome: '',
        foto: '',
        debug: null
      }
    },
     created () {
    },
    methods: {
      login () {
        this.bemvindo = 'Um momento ...'
        this.nome = ''
        this.foto = ''
        let logaraction = {
          login: this.ClientInput,
          password: base64.encode(this.passwordInput),
          client: this.CodigoInput,
          env: "t",
          idDevice: "browser",
          platform: "browser",
          versionplatform: "negado",
          ip: "ipnegadoios"
        }
        http.request({
          url: this.url + '/login',
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },
          content: JSON.stringify(logaraction)
        }).then(response => {
           let logaresp = JSON.parse(response.content.toString())
           this.foto = logaresp.alunos[0].foto
           this.nome = logaresp.user.name
           this.bemvindo = this.nome
           this.debug = response.content.toString()
        }, error => {
           console.error(error);
        });          
        }
    }
}
</script>

<style lang="scss">
.border-bottom {
  border-bottom-width: 1;
  border-bottom-color: white;
  margin-bottom: 10;
  padding-bottom: 7;
}

.form-input {
  margin-bottom: -1;
  width: 280;
  color: white;
  placeholder-color: white;
}

.my-button {
  background-color: aqua;
  font-weight: bold;
  border-radius: 25;
  padding-top: 14;
  padding-bottom: 14;
  text-transform: uppercase;
  letter-spacing: 0.1;
}
.full-height {
  height: 100%;
}
.container {
  margin-left: 34;
  margin-right: 34;
}
.pegatoken {
  margin-bottom: 10;
  padding-bottom: 7;
}
.logou {

}
</style>